@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="collapse" href="#menuRegistrar" role="button" aria-expanded="false" aria-controls="menuRegistrar">
                        Registrar ▾
                    </a>
                    <div class="collapse" id="menuRegistrar">
                        <ul class="nav flex-column ms-3">
                            <li class="nav-item"><a class="nav-link" asp-controller="Gestion_Movimiento_Venta" asp-action="Registrar_Ingreso">Registrar Ingreso</a></li>
                            <li class="nav-item"><a class="nav-link" asp-controller="Gestion_Movimiento_Venta" asp-action="Registrar_Pedido">Registrar Pedido</a></li>
                            <li class="nav-item"><a class="nav-link" asp-controller="Gestion_Movimiento_Venta" asp-action="Registrar_Salida">Registrar Salida</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#menuConsultar" role="button" aria-expanded="false" aria-controls="menuConsultar">
                        Consultar ▾
                    </a>
                    <div class="collapse" id="menuConsultar">
                        <ul class="nav flex-column ms-3">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Gestion_Movimiento_Venta" asp-action="Consultar_Servicios">Historial de Ventas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Gestion_Movimiento_Venta" asp-action="Monitoreo_Cocina">Monitoreo Cocina</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#menuActualizar" role="button" aria-expanded="false" aria-controls="menuActualizar">
                        Actualizar ▾
                    </a>
                    <div class="collapse" id="menuActualizar">
                        <ul class="nav flex-column ms-3">

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Gestion_Movimiento_Venta" asp-action="Actualizar_Proceso">Actualizar estado</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#menuEliminar" role="button" aria-expanded="false" aria-controls="menuEliminar">
                        Eliminar ▾
                    </a>
                    <div class="collapse" id="menuEliminar">
                        <ul class="nav flex-column ms-3">

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Gestion_Movimiento_Venta" asp-action="Eliminar">Eliminar</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#menuEliminar" role="button" aria-expanded="false" aria-controls="menuEliminar">
                        Graficas ▾
                    </a>
                    <div class="collapse" id="menuEliminar">
                        <ul class="nav flex-column ms-3">

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Gestion_Movimiento_Venta" asp-action="Graficas">Graficas</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>