@model Cliente
@{
}
<div class="container-fluid">
    <div class="row">

        <nav class="col-md-2">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Gestion_cliente" asp-action="Registrar">Registrar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Gestion_cliente" asp-action="Consultar">Consultar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Gestion_cliente" asp-action="Eliminar">Eliminar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Gestion_cliente" asp-action="Actualizar">Actualizar</a>
                </li>
            </ul>
        </nav>

    </div>
</div>

<div>
    <form asp-controller="Gestion_cliente" asp-action="Registrar" method="post">
        <fieldset>
            <legend>Registre Nuevo Cliente</legend>
            <hr />
            <div>
                <label>Ingrese cedula de ciudadania</label>
                <input asp-for="cc" type="text" required />
            </div>
            <div>
                <label>Ingrese nombre</label>
                <input asp-for="nombre" type="text" required />
            </div>
            <div>
                <label>Ingrese telefono</label>
                <input asp-for="telefono" type="text" required />
            </div>
            <div>
                <label>Ingrese direccion</label>
                <input asp-for="direccion" type="text" required />
            </div>
            <br />
            <button type="submit">Registrar</button>
        </fieldset>
    </form>
</div>
<div>
    @if (ViewBag.mensajereg != null)
    {
        <label>@ViewBag.mensajereg</label>
    }
</div>